@font-face {
	font-family: ProximaNova;
	src: url(../font/ProximaNova-Regular.otf);
	font-style: Regular;
}

@font-face {
	font-family: ProximaNova;
	src: url(../font/ProximaNova-Semibold.ttf);
	font-style: Semibold;
}
button,input {
	outline:none;
	border:none;
}

body html{
	overflow: hidden;
	height: 100%;
}

.back {
	position: fixed;
	padding-top: 900px;
	padding-left: 1280px;
	z-index: -1;
}

.content {
	/* background-color: beige; */
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.menu_primary {
	background-color: #1d2531;
	position: relative;
	left:0;
	height: 100%;
	width: 100px;
}
.menu_secondary {
	background-color: #222c3c;
	position: relative;
	left:0;
	height: 100%;
	width: 250px;
}
.chat {
	/* background-color: azure; */
	position: relative;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}